#title{
    text-align: center;
    background-color: darkslategrey;
    height: 60px;
    border-radius: 12px;
    color: whitesmoke;
}
#banner{
    padding: 10px;
}
#post-form{
    text-align: center;
    padding: 80px;
}

.inputs{
    height: 20px;
    width: 180px;
}
#result{
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#outter-form{
   
   border-color: darkslategrey;
   border-radius: 12px;
   border-style: solid;
   height: 350px;
   width: 500px;
   margin-left: 500px;
}
#submit{
    height: 30px;
}
#footer{
    text-align: center;
}
.topics{
    text-align: center;
}
.container{
    border-radius: 12px;
    border-style: solid;
    width: 550px;
    height: 500px;
    margin-left: 500px;
    word-wrap: break-word;
    text-align: center;
}
#encoded{
    padding: 20px;
}
